<!DOCTYPE html>
<html>
  <head>
    <title>Arrangy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%# <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet"> %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_pack_tag 'application'%>
  </body>
</html>
