<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('/images/favicon.ico') %>
    <meta name='twitter:card' content='summary'>
    <meta name='twitter:site' content='@Arrangy1'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_pack_tag 'hello_vue'%>
  </body>
</html>
