<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('/images/favicon.ico') %>

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='twitter:card' content='summary'>
    <meta name='twitter:site' content='@Arrangy1'>
    <meta property='og:title' content='Arrangy(アレンジー) | コンビニ商品や外食店の料理を使用したアレンジ飯の共有サービス' id='og-title'>
    <meta property='og:url' content='https://arrangy.jp' id='og-url'>
    <meta property='og:description' content='Arrangy(アレンジー)はアレンジ飯の共有サービスです。コンビニ商品や外食店の料理を使用したアレンジ飯を「知りたい」「共有したい」という方達は、是非覗いてみてください!!' id='og-description'>
    <meta property='og:image' content='https://arrangy.jp/images/og-image.png' id='og-image'>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_pack_tag 'hello_vue'%>
  </body>
</html>
